html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
}

@font-face {
  src: url("../Fonts/IRANSans1.ttf");
  font-family: "IRANSans1";
  font-weight: 100;
}

* {
  font-family: "IRANSans1" !important;
}

.top-line {
  background-color: #fe740b;
  width: 100%;
  height: 4px;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .navbar-icons .nav-icon {
  cursor: pointer;
  color: black;
}

.navbar-container .navbar-icons .nav-icon:hover {
  color: #595858;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar-container .navbar-caption a {
  font-size: 15px;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbar-container .navbar-caption a:hover {
  color: #fe740b;
  background-color: #e7e7e7;
  border-radius: 20px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.mobile-navbar-container {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

.mobile-navbar-container .nav-icon {
  cursor: pointer;
}

.mobile-navbar-container .nav-icon:hover {
  color: #595858;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header-drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-drawer .search-icon {
  color: gray;
}

.header-drawer h5 {
  color: gray;
  font-weight: bold;
}

.submenu-container {
  width: 100%;
  background: #f3f3f3;
  height: 50px;
}

.submenu-container .submenu-nav {
  width: 100%;
  height: 100%;
}

.submenu-container .submenu-nav .submenu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.submenu-container .submenu-nav .submenu-items li {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submenu-container .submenu-nav .submenu-items li:hover .fw-dropdown {
  -webkit-transition: 11s;
  transition: 11s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 100;
}

.submenu-container .submenu-nav .submenu-items li a {
  color: #3b3b3b;
  margin: auto;
  text-decoration: none;
  font-weight: bold;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown {
  position: absolute;
  margin-top: 50px;
  left: 0;
  display: none;
  width: 100%;
  padding: 2em 0;
  background: white;
  border-bottom: 1px solid #dddddd;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown ul {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown li {
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  float: right;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown li a {
  color: #444444;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown li:hover a {
  color: gray;
}

.submenu-container .submenu-nav .submenu-items .submenu-title .title-link {
  font-size: 14px;
}

.submenu-container .submenu-nav .submenu-items .submenu-title:hover .title-link {
  color: #fe740b;
}

.mobile-menu-container {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  padding: 10px 0 10px 0;
  border-top: 1px solid #f2f2f2;
}

.mobile-menu-container .mobile-menu-item .mobile-menu-icon {
  font-size: 18px;
}

.mobile-menu-container .mobile-menu-item p {
  font-size: 12px;
}

.swiper-images {
  width: 100px;
  height: 100px;
}

.swiper-images .overlay-img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.swiper-images:hover .overlay-img {
  opacity: 1;
}

.foodCarousel-container {
  background-image: linear-gradient(210deg, #FFA223 0%, #FF783A 100%);
  padding: 30px;
  margin-top: 30px;
}

.foodCarousel-container h4 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.swiper-container-title {
  text-align: center;
  border-bottom: 2px solid #cecece;
  font-weight: bold;
}

.carousel-swiper {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
}

.carousel-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.carousel-swiper .swiper-slide .title {
  cursor: pointer;
  line-height: 25px;
}

.carousel-swiper .swiper-slide .title:hover {
  color: #989898;
  -webkit-transition: .3s;
  transition: .3s;
}

.carousel-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-images {
  position: relative;
  overflow: hidden;
}

.slide-images:hover .btn {
  bottom: 0;
}

.slide-images .btn {
  bottom: -160px;
  position: absolute;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: white;
  border: 1px solid #eaeaea;
}

.slide-images .btn .icon {
  font-size: 25px;
  color: #444444;
}

.slide-images .btn .icon:hover {
  color: #898989;
}

.slide-images .slide-orgImg {
  width: 600px;
  height: 600px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.slide-images .slide-hoverImg {
  cursor: pointer;
  opacity: 0;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .3s, -webkit-transform 1.5s;
  transition: opacity .3s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity .3s;
  transition: transform 1.5s, opacity .3s, -webkit-transform 1.5s;
}

.slide-images:hover .slide-hoverImg {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carousel-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.carousel-price .carousel-orgPrice {
  color: #fe740b;
  font-weight: bold;
}

.carousel-price .carousel-linedPrice {
  color: #9a9999;
  font-weight: bold;
}

.show-pro-container {
  margin-left: 10%;
  margin-right: 10%;
}

.show-pro-container img {
  border-radius: 20px;
}

.footer-container {
  background-color: #f9f9f9;
  padding: 30px 0 30px 0;
  margin-top: 100px;
  padding-right: 80px;
  padding-left: 80px;
}

.footer-container .main-footer-container .item1 h5 {
  border-bottom: 3px solid #ff7626;
  padding-bottom: 10px;
  font-weight: bold;
}

.footer-container .main-footer-container .item1 h6 {
  line-height: 40px;
  color: #3f3f3f;
}

.footer-container .main-footer-container .item1 .icon-item {
  margin: 30px 5px;
  border: 2px solid #898989;
  padding: 10px;
  border-radius: 50%;
}

.footer-container .main-footer-container .item1 .icon-item:hover {
  color: white !important;
  background-color: #47a1e0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  border: 2px solid #47a1e0;
}

.footer-container .main-footer-container .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 20px;
}

.footer-container .main-footer-container .item2 h5 {
  border-bottom: 3px solid #ff7626;
  padding-bottom: 10px;
}

.footer-container .main-footer-container .item2 .link {
  color: black;
}

.footer-container .main-footer-container .item2 .link:hover {
  color: #fe740b;
  text-decoration: none;
}

.footer-container .main-footer-container .item3 img {
  width: 150px;
}

.footer-container .main-footer-container .item3 h5 {
  border-bottom: 3px solid #ff7626;
  padding-bottom: 10px;
  font-weight: bold;
}

.footer-container .bottom-footer-container {
  text-align: center;
  border-top: 1px solid #cbcbcb;
  margin-top: 40px;
  padding-top: 30px;
}

.footer-container .bottom-footer-container .link {
  color: black;
}

.footer-container .bottom-footer-container .link:hover {
  text-decoration: none;
  color: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.show-products-helper-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-products-helper-container .item:hover .btn {
  bottom: 0;
}

.show-products-helper-container .item .btn {
  bottom: -160px;
  opacity: .9;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.show-products-helper-container .item .btn span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.show-products-helper-container .item .btn:before {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s, opacity .6s;
  transition: .4s, opacity .6s;
}

.show-products-helper-container .item .btn:before {
  content: attr(data-hover);
  -webkit-transform: translate(0, 150%);
          transform: translate(0, 150%);
}

.show-products-helper-container .item .btn:hover span {
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.show-products-helper-container .item .btn:hover:before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.show-products-helper-container .item .title {
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
}

.show-products-helper-container .item .title:hover {
  color: #817f7f;
}

.show-products-helper-container .item .price {
  color: #fe5304;
  font-weight: bold;
}

.show-products-helper-container .item .images {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.show-products-helper-container .item .images .org-img-showpro-helper {
  display: block;
}

.show-products-helper-container .item .images .overlay {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform 1.5s;
  transition: opacity .3s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity .3s;
  transition: transform 1.5s, opacity .3s, -webkit-transform 1.5s;
}

.show-products-helper-container .item .images:hover .overlay {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  opacity: 1;
}

.show-products-helper-container .item .images .hover-img-showpro-helper {
  position: absolute;
}

.contact-us-container {
  border: 3px solid #fe740b;
  border-right: none;
  border-radius: 20px;
  margin-top: 50px;
}

.contact-us-container .information {
  background-color: #fe740b;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contact-us-container .information .icon {
  font-size: 30px;
  color: white;
}

.contact-us-container .information .icon:hover {
  background-color: #646464;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 50%;
  width: 20px;
  height: 50px;
}

.contact-us-container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white !important;
  padding-top: 30px;
}

.contact-us-container .form .field-input {
  border: 2px solid #d1d1d1 !important;
  border-radius: 5px;
  padding: 5px;
}

.contact-us-container .form .field-input:focus {
  outline: none;
}

.contact-us-container .form label {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.contact-us-container .form button {
  padding: 10px 20px;
  border: none;
  margin-top: 30px;
  font-weight: bold;
  cursor: pointer;
}

.contact-us-container .form button:hover {
  background-color: #d5d5d5;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact-us-container .form textarea {
  border: 2px solid #d1d1d1 !important;
  border-radius: 5px;
  padding: 10px 10px 0 0;
}

.contact-us-container .form textarea:focus {
  outline: none;
}

.login-container .login-form,
.login-container .register-form,
.register-container .login-form,
.register-container .register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-left: 1px solid #e7e7e7;
  border-left-width: 2px;
}

.login-container .login-form .login-field,
.login-container .login-form .register-field,
.login-container .register-form .login-field,
.login-container .register-form .register-field,
.register-container .login-form .login-field,
.register-container .login-form .register-field,
.register-container .register-form .login-field,
.register-container .register-form .register-field {
  padding: 8px;
  border: 2px solid #d1d1d1 !important;
  border-radius: 5px;
}

.login-container .login-form .login-field:focus,
.login-container .login-form .register-field:focus,
.login-container .register-form .login-field:focus,
.login-container .register-form .register-field:focus,
.register-container .login-form .login-field:focus,
.register-container .login-form .register-field:focus,
.register-container .register-form .login-field:focus,
.register-container .register-form .register-field:focus {
  outline: none;
}

.login-container .login-form .login-btn,
.login-container .login-form .register-btn,
.login-container .register-form .login-btn,
.login-container .register-form .register-btn,
.register-container .login-form .login-btn,
.register-container .login-form .register-btn,
.register-container .register-form .login-btn,
.register-container .register-form .register-btn {
  border: none;
  border-radius: 30px;
  background-color: #17eb17;
  padding: 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.login-container .login-form .login-btn:hover,
.login-container .login-form .register-btn:hover,
.login-container .register-form .login-btn:hover,
.login-container .register-form .register-btn:hover,
.register-container .login-form .login-btn:hover,
.register-container .login-form .register-btn:hover,
.register-container .register-form .login-btn:hover,
.register-container .register-form .register-btn:hover {
  background-color: #04a204;
  -webkit-transition: .3s;
  transition: .3s;
}

.login-container .form-checkbox,
.register-container .form-checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.login-container .login-register,
.login-container .register-login,
.register-container .login-register,
.register-container .register-login {
  text-align: center;
}

.login-container .login-register p,
.login-container .register-login p,
.register-container .login-register p,
.register-container .register-login p {
  line-height: 25px;
}

.login-container .login-register .register-btn,
.login-container .login-register .login-btn,
.login-container .register-login .register-btn,
.login-container .register-login .login-btn,
.register-container .login-register .register-btn,
.register-container .login-register .login-btn,
.register-container .register-login .register-btn,
.register-container .register-login .login-btn {
  margin: 20px 10px 0 10px;
  border: none;
  border-radius: 30px;
  background-color: #17eb17;
  padding: 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.login-container .login-register .register-btn:hover,
.login-container .login-register .login-btn:hover,
.login-container .register-login .register-btn:hover,
.login-container .register-login .login-btn:hover,
.register-container .login-register .register-btn:hover,
.register-container .login-register .login-btn:hover,
.register-container .register-login .register-btn:hover,
.register-container .register-login .login-btn:hover {
  background-color: #04a204;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

.profile-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: right;
}

.profile-list-container .profile-list {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  border-left: 2px solid #d7d7d7;
  padding-left: 30px;
}

.profile-list-container .profile-list h5 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #d7d7d7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.profile-list-container .profile-list .link {
  font-size: 15px;
  font-weight: bold;
  display: block;
  padding: 10px 10px 10px 0;
  cursor: pointer;
  color: black;
}

.profile-list-container .profile-list .link:hover {
  background-color: #f5f6f6;
  text-decoration: none;
  color: black;
}

.profile-list-container .profile-list-outlet {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.counter-container .counter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.counter-container .counter-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: 0 0 4px black;
          box-shadow: 0 0 4px black;
  margin: 10px;
  padding: 20px 30px 20px 30px;
  cursor: pointer;
}

.counter-container .counter-items .item .icon {
  font-size: 40px;
  color: #bebebe;
  margin-bottom: 5px;
}

.counter-container .counter-items .item p {
  font-weight: bold;
  color: #474747;
  font-size: 15px;
}

.counter-container .counter-items .item:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #f5f6f6;
  text-decoration: none;
  color: black;
}

.counter-container .counter-items .item:hover .icon {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fe740b !important;
}

.order-container {
  width: 100%;
}

.order-container p {
  text-align: right;
  background-color: #F0971E;
  padding: 20px;
  margin-right: 20px;
  color: white;
}

.adresses-container {
  width: 100%;
  margin-right: 20px;
}

.adresses-container .adresses-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  margin-top: 25px;
}

.edit-account-container input {
  padding: 5px;
  border: 2px solid #d1d1d1 !important;
  border-radius: 5px;
}

.edit-account-container input:focus {
  outline: none;
}

.edit-account-container .change-password {
  border: 2px solid #d1d1d1;
  margin-right: 25px;
  margin-top: 30px;
  padding: 0 40px 30px 40px;
}

.edit-account-container button {
  color: white;
  background-color: #1bdc1b;
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 30px;
  margin-right: 25px;
  margin-top: 20px;
}

.edit-account-container button:focus {
  outline: none;
}

.AdverticePhoto-container {
  margin: 30px 100px 30px 100px;
}

.AdverticePhoto-container img {
  border-radius: 10%;
}

.headerPhoto-container {
  margin-left: 10%;
  margin-right: 10%;
}

.headerPhoto-container img {
  height: 400px;
  border-radius: 30px;
}

.back-top-container {
  left: 7%;
}

.back-top {
  height: 55px;
  width: 55px;
  line-height: 60px;
  border-radius: 50px;
  color: black;
  text-align: center;
  font-size: 20;
  -webkit-box-shadow: 2px 2px 2px 2px #9E9E9E;
          box-shadow: 2px 2px 2px 2px #9E9E9E;
  background-color: white;
}

.shoping-cart-list-drawer-items {
  cursor: pointer;
}

.shoping-cart-list-drawer-items .price {
  color: #f87910;
}

.shoping-cart-list-drawer-items:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #f6f6f6;
}

.shoping-cart-list-drawer-items:hover h6 {
  color: #7b7b7b;
  color: #4b4b4b;
}

.cart-container .cart-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-container .cart-table th {
  font-weight: bold;
  text-align: center;
}

.cart-container .cart-table td,
.cart-container .cart-table th {
  padding-bottom: 12px;
  text-align: center;
}

.cart-container .cart-price-box {
  border: 3px solid gainsboro;
}

.shaker-printing-container .shaker-printing-caption {
  text-align: center;
  margin-top: 80px;
}

.shaker-printing-container .shaker-printing-caption h5 {
  font-weight: bold;
}

.shaker-printing-container .shaker-printing-caption .bottom-line {
  padding-top: 10px;
  width: 60px;
  border-bottom: 3px solid #4b4b4b;
}

.shaker-printing-container .shaker-printing-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 150px;
}

.shaker-printing-container .shaker-printing-anchor .anchor-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shaker-printing-container .shaker-printing-anchor .anchor-item:hover {
  text-decoration: none;
  color: black;
}

.shaker-printing-container .shaker-printing-anchor .anchor-item img {
  width: 40px;
  height: 40px;
}

.shaker-printing-container .shaker-printing-anchor .anchor-item .item-description .item-link {
  color: black;
  text-align: right;
}

.shaker-printing-container .shaker-printing-anchor .anchor-item .item-description:hover .item-link,
.shaker-printing-container .shaker-printing-anchor .anchor-item .item-description:hover .item-icon {
  color: #fe740b;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.cooperation-container .caption {
  text-align: right;
  margin-top: 30px;
  line-height: 25px;
}

.cooperation-container .underline {
  border-bottom: 3px solid #727272;
  width: 80px;
  margin-top: 10px;
}

.cooperation-container .anchor .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: bold;
}

.cooperation-container .anchor .item:hover {
  text-decoration: none;
}

.cooperation-container .anchor .item .icon {
  font-size: 30px;
  background-color: #fee1ac;
  padding: 10px;
  border-radius: 10px;
}

.cooperation-container .anchor .item .description :hover {
  color: #fe740b;
  -webkit-transition: .2s;
  transition: .2s;
}

.cooperation-container #item-1,
.cooperation-container #item-2,
.cooperation-container #item-3 {
  background-color: #f7f7f7;
  text-align: right;
  border-radius: 20px;
  margin-top: 100px;
}

.cooperation-container #item-1 .underline,
.cooperation-container #item-2 .underline,
.cooperation-container #item-3 .underline {
  border-bottom: 3px solid #fe740b;
  width: 50px;
}

.cooperation-container #item-1 p,
.cooperation-container #item-2 p,
.cooperation-container #item-3 p {
  line-height: 25px;
  margin-bottom: 20px;
}

.cooperation-container #item-1 .box,
.cooperation-container #item-2 .box,
.cooperation-container #item-3 .box {
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cooperation-container #item-1 .label,
.cooperation-container #item-2 .label,
.cooperation-container #item-3 .label {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
}

.cooperation-container #item-1 .field,
.cooperation-container #item-2 .field,
.cooperation-container #item-3 .field {
  padding: 8px;
  border: 2px solid #d1d1d1 !important;
  border-radius: 5px;
}

.cooperation-container #item-1 .field:focus,
.cooperation-container #item-2 .field:focus,
.cooperation-container #item-3 .field:focus {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .navbar-container {
    display: none;
  }
  .mobile-navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-us-container {
    border: 3px solid #f0920f;
  }
  .contact-us-container .information {
    background-color: #f0920f;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
  }
  .contact-us-container .information .icon {
    margin-bottom: 40px;
  }
  .show-pro-container {
    margin-left: 3%;
    margin-right: 3%;
  }
  .headerPhoto-container {
    margin-left: 3%;
    margin-right: 3%;
  }
  .headerPhoto-container img {
    height: 300px;
    border-radius: 20pxpx;
  }
  .mobile-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bottom-footer-container {
    padding-bottom: 50px;
  }
  .submenu-container {
    opacity: 0;
  }
  .back-top-container {
    margin-bottom: 20px;
    left: 30px;
  }
  .back-top-container .back-top {
    height: 40px;
    width: 40px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .login-container .login-form,
  .login-container .register-form,
  .register-container .login-form,
  .register-container .register-form {
    margin-bottom: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e7e7e7;
    border-bottom-width: 2px;
    border-left: none;
  }
  .AdverticePhoto-container {
    margin: 30px 0 30px 0;
  }
  .AdverticePhoto-container .AdverticePhoto-2 {
    display: none;
  }
  .headerPhoto-container img {
    height: 200px;
  }
  .footer-container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .footer-container h5 {
    font-size: 15px;
  }
  .footer-container h6 {
    font-size: 13px;
  }
  .footer-container p {
    font-size: 13px;
  }
  .shaker-printing-container .shaker-printing-anchor {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */