html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: white;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}



.top-line {
    background-color: rgb(255, 145, 0);
    width: 100%;
    height: 4px;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-caption {
        a {
            font-size: 17px;
            font-weight: bold;
            padding: 12px;
            color: black;
            text-decoration: none;

            &:hover {
                color: rgb(254, 116, 11);
                background-color: rgb(231, 231, 231);
                border-radius: 20px;
                transition: color 0.3s;
            }
        }
    }

    .navbar-icons {
        .nav-icon {
            cursor: pointer;

            &:hover {
                color: rgb(89, 88, 88);
                transition: color 0.3s;

            }
        }

    }


}

.header-drawer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .search-icon {
        color: rgb(128, 128, 128);
    }

    h5 {
        color: rgb(128, 128, 128);
        font-weight: bold;
    }
}

// .submenu-container {

//     background-color: #f3f3f3;

//     .submenu-items {
//         display: flex;
//         flex-direction: row-reverse;
//         justify-content: space-around;
//         padding: 15px;

//     }
// }

// * {
// 	padding: 0;
// 	margin: 0;
// }

// body {
//   list-style: none;
//   font: 16px/1.2 'Montserrat', sans-serif;
// }
//........................................................................................
// sub_menu =>

.submenu-container {
    width: 100%;
    background: rgb(235, 234, 234);
    height: 50px;
    display: flex;
    align-items: center;

    .submenu-nav {
        width: 100%;
        height: 100%;

        .submenu-items {
            display: flex;
            flex-direction: row-reverse;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            li {
                // flex-basis: 15%;
                text-align: center;
                height: 100%;
                display: flex;

                &:hover .fw-dropdown {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-right: 100px;
                }
            }

            .fw-dropdown {
                position: absolute;
                top: 129px;
                transition: all 4s;
                left: 0;
                display: none;
                width: 100%;
                padding: 2em 0;
                background: rgb(255, 255, 255);
                border-bottom: 1px solid rgb(221, 221, 221);

                ul {
                    flex-basis: 15%;
                }

                li {
                    height: auto;
                    padding: 10px;
                    margin-bottom: 20px;
                    font-size: 18px;
                    float: right;

                    a {
                        color: rgb(68, 68, 68);
                    }

                    &:hover a {
                        color: rgb(128, 128, 128)
                    }
                }
            }

            .submenu-title {
                &:hover .title-link {
                    color: #ff9b0f;
                }
            }
        }
    }
}



a {
    color: rgb(59, 59, 59);
    margin: auto;
    text-decoration: none;
    font-weight: bold;
}


.submenu-container .submenu-items li:hover a {
    color: black;
    text-decoration: none;
}





// food-carousel-swiper =>
// ...........................................................................................

.foodCarousel-container {
    background-image: linear-gradient(210deg, #FFA223 0%, #FF783A 100%);
    padding: 30px;
    margin-top: 30px;

    .foodCarousel-swiper {
        background-color: white;
        padding-top: 20px;
        padding-bottom: 50px;
        border-radius: 20px;

        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;

            &:hover .overlay-container {
                opacity: 1;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .overlay-container {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: white;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
            
        }

    }

}


.foodCarousel-price{
    display: flex;
    justify-content:center;
    margin-top: 10px;

    .food-price{
        color: #fe5304;
        font-weight: bold;
    }

    .food-linedPrice{
        color: rgb(154, 153, 153);
        font-weight: bold;

    }
}   
