html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
}

@font-face {
  src: url("../Fonts/IRANSans1.ttf");
  font-family: "IRANSans1";
  font-weight: 100;
}

* {
  font-family: "IRANSans1" !important;
}

.top-line {
  background-color: #ff9100;
  width: 100%;
  height: 4px;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .navbar-caption a {
  font-size: 15px;
  padding: 12px;
  color: black;
  text-decoration: none;
}

.navbar-container .navbar-caption a:hover {
  color: #fe740b;
  background-color: #e7e7e7;
  border-radius: 20px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar-container .navbar-icons .nav-icon {
  cursor: pointer;
}

.navbar-container .navbar-icons .nav-icon:hover {
  color: #595858;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header-drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-drawer .search-icon {
  color: gray;
}

.header-drawer h5 {
  color: gray;
  font-weight: bold;
}

.submenu-container {
  width: 100%;
  background: #f3f3f3;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu-container .submenu-nav {
  width: 100%;
  height: 100%;
}

.submenu-container .submenu-nav .submenu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.submenu-container .submenu-nav .submenu-items li {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submenu-container .submenu-nav .submenu-items li:hover .fw-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 100px;
  z-index: 100;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown {
  position: absolute;
  margin-top: 50px;
  -webkit-transition: all 4s;
  transition: all 4s;
  left: 0;
  display: none;
  width: 100%;
  padding: 2em 0;
  background: white;
  border-bottom: 1px solid #dddddd;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown ul {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown li {
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  float: right;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown li a {
  color: #444444;
}

.submenu-container .submenu-nav .submenu-items .fw-dropdown li:hover a {
  color: gray;
}

.submenu-container .submenu-nav .submenu-items .submenu-title .title-link {
  font-size: 14px;
}

.submenu-container .submenu-nav .submenu-items .submenu-title:hover .title-link {
  color: #ff9b0f;
}

a {
  color: #3b3b3b;
  margin: auto;
  text-decoration: none;
  font-weight: bold;
}

.submenu-container .submenu-items li:hover a {
  color: black;
  text-decoration: none;
}

.swiper-images {
  width: 100px;
  height: 100px;
}

.swiper-images .overlay-img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.swiper-images:hover .overlay-img {
  opacity: 1;
}

.foodCarousel-container {
  background-image: linear-gradient(210deg, #FFA223 0%, #FF783A 100%);
  padding: 30px;
  margin-top: 30px;
}

.swiper-container-title {
  text-align: center;
  border-bottom: 2px solid #cecece;
  font-weight: bold;
}

.carousel-swiper {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
}

.carousel-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.carousel-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-images {
  position: relative;
}

.slide-images .slide-orgImg {
  width: 600px;
  height: 600px;
  top: 0;
  left: 0;
}

.slide-images .slide-hoverImg {
  opacity: 0;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .3s, -webkit-transform 1.5s;
  transition: opacity .3s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity .3s;
  transition: transform 1.5s, opacity .3s, -webkit-transform 1.5s;
}

.slide-images:hover .slide-hoverImg {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carousel-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.carousel-price .carousel-orgPrice {
  color: #fe5304;
  font-weight: bold;
}

.carousel-price .carousel-linedPrice {
  color: #9a9999;
  font-weight: bold;
}

.show-pro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.show-pro-container .show-pro-item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.show-pro-container .show-pro-item img {
  width: 100%;
  margin: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
}

.AdverticePhoto-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.AdverticePhoto-container img {
  margin: 10px;
  border-radius: 20px;
}

.footer-container {
  background-color: #f9f9f9;
  padding: 30px 0 30px 0;
  margin-top: 100px;
}

.footer-container .top-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 25px 0;
}

.footer-container .top-footer-container .top-footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-container .main-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 60px;
}

.footer-container .main-footer-container .main-footer-item1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}

.footer-container .main-footer-container .main-footer-item1 h5 {
  border-bottom: 3px solid #ff7626;
  border-right-width: 100px;
  padding-bottom: 10px;
}

.footer-container .main-footer-container .main-footer-item1 h6 {
  line-height: 40px;
  color: #3f3f3f;
}

.footer-container .main-footer-container .main-footer-item1 .main-footer-phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.footer-container .main-footer-container .main-footer-item1 .main-footer-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer-container .main-footer-container .main-footer-item1 .main-footer-icons .main-footer-icons-item {
  margin: 30px 5px;
  border: 2px solid #898989;
  padding: 10px;
  border-radius: 50%;
}

.footer-container .main-footer-container .main-footer-item1 .main-footer-icons .main-footer-icons-item:hover {
  color: white !important;
  background-color: #47a1e0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  border: 2px solid #47a1e0;
}

.footer-container .main-footer-container .main-footer-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container .main-footer-container .main-footer-item2 h5 {
  border-bottom: 3px solid #ff7626;
  border-right-width: 100px;
  padding-bottom: 10px;
}

.footer-container .main-footer-container .main-footer-item2 p {
  line-height: 50px;
  color: #3f3f3f;
}

.footer-container .main-footer-container .main-footer-item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container .main-footer-container .main-footer-item3 h5 {
  border-bottom: 3px solid #ff7626;
  border-right-width: 100px;
  padding-bottom: 10px;
}

.footer-container .bottom-footer-container {
  text-align: center;
  border-top: 1px solid #cbcbcb;
  margin-top: 40px;
  padding-top: 30px;
}

.nav-tab-ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background-color: #c4c1c1;
}

.nav-tab-ul .nav-tab-li {
  width: 50%;
}

.ShowProductsHelper-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.show-detail-pro-helper-container {
  margin: 50px 20px 0 20px;
}

.show-detail-pro-helper-container .showproductshelper-price {
  color: #fe5304;
  font-weight: bold;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.show-products-helper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin: 0 auto;
}

.show-products-helper-container .show-products-helper-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.show-products-helper-container .show-products-helper-item .show-products-helper-title {
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}

.show-products-helper-container .show-products-helper-item .show-products-helper-title:hover {
  color: #817f7f;
}

.show-products-helper-container .show-products-helper-item .show-products-helper-price {
  color: #fe5304;
  font-weight: bold;
  text-align: center;
}

.show-products-helper-images {
  position: relative;
  cursor: pointer;
}

.org-img-showpro-helper {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform 1.5s;
  transition: opacity .3s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity .3s;
  transition: transform 1.5s, opacity .3s, -webkit-transform 1.5s;
}

.show-products-helper-images:hover .overlay {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  opacity: 1;
}

.hover-img-showpro-helper {
  position: absolute;
}

.milad {
  position: relative;
}

.test {
  position: absolute;
  right: 200;
  top: 100;
  float: left;
  background-color: red;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */