html,
body,
div,
span,
p,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  line-height: 1;
}
.nav-link .active {
  color: red;
  background-color: #fe5304;
}
.layout {
  max-width: 960px;
  margin: 0 auto;
}

.fluid {
  display: flex;
  flex-direction: column;
}

.fluid__image-container {
  flex: 0 0 auto;
  margin: 20px auto;
}

.fluid__instructions {
  flex: 0 0 auto;
  margin: 0 20px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
}

@font-face {
  src: url("../Fonts/IRANSans1.ttf");
  font-family: "IRANSans1";
  font-weight: 100;
}

* {
  font-family: "IRANSans1" !important;
}

/* ===================================== Customize colors ===================================== */
$ORANGE: rgb(254, 116, 11);

.bg-green {
  background-color: rgb(23, 235, 23);
}

.bg-orange {
  background-color: rgb(254, 116, 11);
}

.text-orange {
  color: rgb(254, 116, 11);
}

.bg-smoke {
  background-color: rgb(196, 196, 196);
}

.text-smoke {
  color: rgb(196, 196, 196);
}
.text-gray {
  color: rgb(75, 75, 75);
}
.bg-light-gray {
  background-color: rgb(243, 243, 243);
}

.cursor-pointer {
  cursor: pointer;
}

/* ===================================== SubNavbar ===================================== */
.top-line {
  background-color: $ORANGE;
  width: 100%;
  height: 4px;
}

.subNav-icon {
  color: black;
  &:hover {
    color: rgb(89, 88, 88);
    transition: color 0.3s;
  }
}

.subNavbar-caption a {
  color: black;

  &:hover {
    color: $ORANGE;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    transition: color 0.3s;
  }
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.user-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.user-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}

/* ===================================== mobileNavbar ===================================== */
.mobile-nav-icon {
  cursor: pointer;
  &:hover {
    color: rgb(89, 88, 88);
    transition: color 0.3s;
  }
}

/* ===================================== submenu ===================================== */
.submenu-items {
  li {
    &:hover .fw-dropdown {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: flex-start;
      z-index: 100;
    }

    a {
      color: rgb(59, 59, 59);
      margin: auto;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .fw-dropdown {
    position: absolute;
    margin-top: 50px;
    left: 0;
    display: none;
    width: 100%;
    padding: 2em 0;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 221, 221);

    ul {
      flex-basis: 15%;
    }

    li {
      height: auto;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 14px;
      float: right;
      list-style: none;
      a {
        color: rgb(68, 68, 68);
      }

      &:hover a {
        color: rgb(128, 128, 128);
      }
    }
  }

  .submenu-title {
    .title-link {
      font-size: 14px;
    }

    &:hover .title-link {
      color: $ORANGE;
    }
  }
}

/* ===================================== headerCarousel ===================================== */
.header-swiper .swiper-pagination .swiper-pagination-bullet {
  opacity: 0.5;
  background-color: rgb(170, 170, 170);
  padding: 5px;
  margin: 5px;
}

.header-swiper .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: white;
}

/* ===================================== foodCarousel && HomeCarousels ===================================== */
.foodCarousel-container {
  background-image: linear-gradient(210deg, #ffa223 0%, #ff783a 100%);
}

.slide-images {
  &:hover {
    .tooltipIcon {
      bottom: 0;
    }
  }

  .tooltipIcon {
    bottom: -160px;
    transition: 0.5s;

    .icon {
      font-size: 25px;
      color: rgb(68, 68, 68);
      &:hover {
        color: #898989;
      }
    }
  }

  .slide-hoverImg {
    cursor: pointer;
    opacity: 0;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1.5s, opacity 0.3s;
  }

  &:hover .slide-hoverImg {
    opacity: 1;
    transform: scale(1.1);
  }
}
.carousel-orgPrice {
  color: $ORANGE;
  font-weight: bold;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* ===================================== Footer ===================================== */
.footer-container {
  padding: 50px 100px 50px 100px;
  .link {
    color: black;
    &:hover {
      color: $ORANGE;
      text-decoration: none;
    }
  }
}

/* ===================================== ProductsCards ===================================== */
.productsCards-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:hover {
    .btn {
      bottom: 0;
    }
  }

  .btn {
    bottom: -160px;
    opacity: 0.9;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    display: block;
    transition: 0.3s;
  }

  .btn span {
    transition: 0.3s;
    transition-delay: 0.1s;
  }

  .btn:before {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.4s, opacity 0.6s;
  }

  .btn:before {
    content: attr(data-hover);
    transform: translate(0, 150%);
  }

  .btn:hover span {
    opacity: 0;
    transform: scale(0.3);
  }

  .btn:hover:before {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 0.1s;
  }

  .title {
    cursor: pointer;
    text-align: center;
    margin-top: 5px;

    &:hover {
      color: rgb(129, 127, 127);
    }
  }

  .price {
    color: #fe5304;
    font-weight: bold;
  }

  .images {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .org-img-showpro-helper {
      display: block;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      transition: transform 1.5s, opacity 0.3s;
    }

    &:hover .overlay {
      transform: scale(1.06);
      opacity: 1;
    }

    .hover-img-showpro-helper {
      position: absolute;
    }
  }
}

/* ===================================== wishList ===================================== */
.wishList-item {
  &:hover {
    .btn {
      bottom: 0;
    }
  }

  .btn {
    bottom: -160px;
    opacity: 0.9;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    display: block;
    transition: 0.3s;
  }

  .btn span {
    transition: 0.3s;
    transition-delay: 0.1s;
  }

  .btn:before {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.4s, opacity 0.6s;
  }

  .btn:before {
    content: attr(data-hover);
    transform: translate(0, 150%);
  }

  .btn:hover span {
    opacity: 0;
    transform: scale(0.3);
  }

  .btn:hover:before {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 0.1s;
  }

  .title {
    cursor: pointer;
    text-align: center;
    margin-top: 5px;

    &:hover {
      color: rgb(129, 127, 127);
    }
  }

  .price {
    color: #fe5304;
    font-weight: bold;
  }

  .images {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .org-img-showpro-helper {
      display: block;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      transition: transform 1.5s, opacity 0.3s;
    }

    &:hover .overlay {
      transform: scale(1.06);
      opacity: 1;
    }

    .hover-img-showpro-helper {
      position: absolute;
    }
  }
}

/* ===================================== profileList ===================================== */
.profileList-link {
  &:hover {
    background-color: rgb(243, 243, 243);
    transition: 0.09s;
  }
}
/* ===================================== counter ===================================== */
.counter-link-item {
  &:hover {
    transition: 0.3s;
    background-color: rgb(245, 246, 246);
    text-decoration: none;
    color: black;

    i {
      transition: 0.3s;
      color: $ORANGE !important;
    }
    p {
      color: black;
      font-weight: bold;
    }
  }
}

/* ===================================== CartDrawer ===================================== */
.cart-drawer-items {
  .price {
    color: rgb(248, 121, 16);
  }

  cursor: pointer;

  &:hover {
    transition: 0.3s;
    background-color: rgb(246, 246, 246);

    h6 {
      color: rgb(123, 123, 123);
      color: rgb(75, 75, 75);
    }
  }
}

/* ===================================== cooperation ===================================== */
.item-link {
  &:hover {
    color: $ORANGE;
    transition: 0.2s;
  }
}
#item-1,
#item-2,
#item-3 {
  .contact-box {
    background-color: rgb(232, 232, 232);
  }
}

/* ===================================== MajorShopping ===================================== */
.major-shopping-container #item-1 {
  background-image: linear-gradient(
    to right,
    rgba(125, 192, 210, 0),
    rgb(206, 230, 241)
  );
}

.major-shopping-container #item-2 {
  background-image: linear-gradient(
    to left,
    rgba(249, 14, 14, 0),
    rgb(248, 207, 207)
  );
}

.major-shopping-container #item-3 {
  background-image: linear-gradient(
    to right,
    rgba(133, 193, 133, 0),
    rgb(141, 237, 149)
  );
}

.major-shopping-container #item-4 {
  background-image: linear-gradient(
    to left,
    rgba(209, 207, 132, 0),
    rgb(249, 238, 115)
  );
}

.major-shopping-container #item-5 {
  background-image: linear-gradient(
    to right,
    rgba(236, 180, 155, 0),
    rgb(246, 138, 108)
  );
}
